# SPDX-FileCopyrightText: public domain
# SPDX-License-Identifier: 0BSD

[submodule "addons/3rdparty/gdcef"]
	path = addons/3rdparty/gdcef
	url = https://github.com/Lecrapouille/gdcef
[submodule "addons/3rdparty/godot-engine.easy-charts"]
	path = addons/3rdparty/godot-engine.easy-charts
	url = https://github.com/fenix-hub/godot-engine.easy-charts
[submodule "addons/3rdparty/godot-xterm"]
	path = addons/3rdparty/godot-xterm
	# TODO switch to official branch -> https://github.com/lihop/godot-xterm
	url = https://github.com/rpaciorek/godot-xterm
[submodule "addons/3rdparty/_godot-cpp"]
	path = addons/3rdparty/_godot-cpp
	url = https://github.com/godotengine/godot-cpp
