# SPDX-FileCopyrightText: Robert Ryszard Paciorek <rrp@opcode.eu.org>
# SPDX-License-Identifier: CC0-1.0

[submodule "addons/3rdparty/gdcef"]
	path = addons/3rdparty/gdcef
	url = https://github.com/Lecrapouille/gdcef
[submodule "addons/3rdparty/godot-engine.easy-charts"]
	path = addons/3rdparty/godot-engine.easy-charts
	url = https://github.com/fenix-hub/godot-engine.easy-charts
[submodule "addons/3rdparty/godot-xterm"]
	path = addons/3rdparty/godot-xterm
	url = https://github.com/lihop/godot-xterm
[submodule "addons/3rdparty/limbo_console"]
	path = addons/3rdparty/limbo_console
	url = https://github.com/limbonaut/limbo_console
#[submodule "addons/3rdparty/_godot-cpp"]
#	path = addons/3rdparty/_godot-cpp
#	url = https://github.com/godotengine/godot-cpp
[submodule "addons/3rdparty/gdUnit4"]
	path = addons/3rdparty/gdUnit4
	url = https://github.com/MikeSchulze/gdUnit4
[submodule "addons/3rdparty/godot-mod-loader"]
	path = addons/3rdparty/godot-mod-loader
	url = https://github.com/GodotModding/godot-mod-loader/
